.logo {
  padding-top: 3.2 rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--primary);
  transition: all 0.1s ease-in-out;
}

.logo:hover {
  filter: brightness(50%)
}

.logoLink {
  font-size: 4.2rem;
  font-weight: bold;
  text-decoration: none;
  gap: 2.4rem;
}

.logo svg {
  width: 6.4rem;
  height: 6.4rem;
}
