.cycles {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
}
.cycleDots {
  display: flex;
  gap: 0.8rem;
}

.cycleDot {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.workTime {
  background-color: var(--primary);
}

.restTime {
  background-color: var(--warning);
}

.longRestTime {
  background-color: var(--info);
}
