.button {
  margin: 3.2rem 0;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}

button:hover {
  filter: brightness(80%);
}

.green {
  background: var(--primary);
  color: var(--text-over-primary);
}
.red {
  background: var(--error);
  color: var(--text-over-error);
}
